<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,500&family=Roboto:ital,wght@1,500&display=swap');
</style>
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}

#home{
    width: 100%;
    height: 99vh;
}

video{
    position: absolute;
    width: 100%;
    height: 99vh;
    object-fit: cover;
    z-index: -100;
}


.text{
    color: white;
    position: relative;
    padding-top: 8%;
    left: 15%;
    width: 60%;
    font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
}
.text h1{
    font-size: 60px;
    font-weight: bold;
    -webkit-text-stroke: 1px rgba(255, 166, 0, 0.643);
}

.text p{
    padding-top: 10px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
padding-bottom: 10px;
}

.text button{
    border-radius: 0;
    transition: all ease 0.5s;
}
.text button:hover{
    letter-spacing: 3px;
}

.icons{
    padding-top: 30px;
}

.icons i{
    padding-right: 20px;
    font-size: 25px;
    transition: 0.5s ease;
}
.icons a{
    text-decoration: none;
    color: white;
}
.icons a:hover i{
    color: white;
    transform: scale(0.8) translateY(-5px);
}

@media (min-width: 300px) and (max-width: 786px){
    .home{
        width: 100vw;
        height: 99vh;
    }
    .text{
        padding-top: 20%;
        width: 80%;
    }
    .text h1{
        font-size: 30px;
    }
    .text p{
        font-size: 20px;
    }
}

/* about section  */
.s-icons{
    font-size: 40px;
    padding-top: 30px;
}

.card{
    color: white;
}
.card-body p{
    padding-top: 10px;
}